*{
    margin: 0;
    padding: 0;
}
nav{
    height: 50px;
    background-color: #60aaeb;   
}
nav ul{
    color: white;
    font-size: 25px;
}
nav ul a{
    text-decoration: none;
    
}
nav li{
    list-style: none; 
    padding: 10px;
    color: white;
}
nav > ul > li{
      float: left;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: rgb(228, 48, 183);
    
}
nav > ul > li:hover >ul{
    display: block;
}
                /* navbar end */
body{
    background-color: #e0dfe2;
    font-family: 'popins',sans-serif;
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
section{
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}
.section-title{
    color: purple;
}
.top-players, .blogs, .courses{
    display: grid;
    place-items: left;
    grid-gap: 30px;
    margin-top:20px ;
}
.top-players, .courses{
     grid-template-columns: repeat(3,1fr);
}
.blogs{
    grid-template-columns: repeat(2,1fr);
}
.player,.blog{
    display: flex;
    align-items: center;
}
.player img{
    height: 50px;
    margin-right: 20px;
}
.thumbnail img{
    width: 200px;
    margin-right:20px ;
}
.filled{
    color: gold;
    font-size: 0.8em;
}
.unfilled{
    color: lightgray;
    font-size: 0.8em;
}
.course img{
    width: 200px;
}
.course-info{
    display: flex;
}
@media(max-width:992px){
    .top-players, .courses{
      grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);   
    
}
}
@media(max-width:688px){
        .top-players, .courses{
        grid-template-columns: repeat(1,1fr);
        
     }
     .blog{
         display: block;
     }
}